




main {
    display: table-cell;
    vertical-align: middle;
}

header{
  display: block;
  float:left;

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 24px;


    background-color: #cccccc; /* Grey */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.5S;

}
#about{
display: table;

}
.articleList{
display: table-row;

}

a.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
